<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Email</string>
		<key>image</key>
		<string>mail</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Message</string>
		<key>image</key>
		<string>chat</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telephone</string>
		<key>image</key>
		<string>dialer</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Link</string>
		<key>image</key>
		<string>link</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Text</string>
		<key>image</key>
		<string>text</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Location</string>
		<key>image</key>
		<string>maps</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wifi</string>
		<key>image</key>
		<string>telephone_260e-fe0f 1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>App Store</string>
		<key>image</key>
		<string>appstore</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Twitter</string>
		<key>image</key>
		<string>twitter</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Facebook</string>
		<key>image</key>
		<string>facebook</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Instagram</string>
		<key>image</key>
		<string>inst</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youtube</string>
		<key>image</key>
		<string>Youtube</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Telegram</string>
		<key>image</key>
		<string>Telegram</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Snapchat</string>
		<key>image</key>
		<string>snapchat</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Whatsapp</string>
		<key>image</key>
		<string>whatsapp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Viber</string>
		<key>image</key>
		<string>viber</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pininterest</string>
		<key>image</key>
		<string>Pinterest</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VK</string>
		<key>image</key>
		<string>vk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TikTok</string>
		<key>image</key>
		<string>tiktok</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tumblr</string>
		<key>image</key>
		<string>tumblr-1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spotify</string>
		<key>image</key>
		<string>spotify</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sound</string>
		<key>image</key>
		<string>soundcloud</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apple Music</string>
		<key>image</key>
		<string>music</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iCloud</string>
		<key>image</key>
		<string>icloud</string>
	</dict>
</array>
</plist>
